USE [master]
GO
/****** Object:  Database [GestionStagiaire]    Script Date: 27/11/2019 08:59:34 ******/
CREATE DATABASE [GestionStagiaire]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionStagiaire', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\GestionStagiaire.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionStagiaire_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\GestionStagiaire_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionStagiaire].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionStagiaire]
GO
USE [GestionStagiaire]
GO
/****** Object:  Table [dbo].[Stagiaire]    Script Date: 27/11/2019 08:59:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stagiaire](
	[Id] [int] NOT NULL,
	[Nom] [varchar](30) NULL,
	[Prenom] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
