USE [dbsimple]
GO
/****** Object:  Table [dbo].[Classe]    Script Date: 25/12/2019 08:46:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classe](
	[IDClasse] [int] NOT NULL,
	[Namee] [nvarchar](50) NULL,
	[ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDClasse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Persone]    Script Date: 25/12/2019 08:46:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persone](
	[ID] [int] NOT NULL,
	[Namee] [nvarchar](50) NULL,
	[Passsword] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Classe]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Persone] ([ID])
GO
