create database  DataAdapterExemple


CREATE TABLE Personne(
	Id_Persone int primary key not null,
	Name varchar(50) NULL,
	Age int NULL
) ;
insert into Personne values(1,'sami',22)
insert into Personne values(2,'Mehdi',35)

