USE [master]
GO
/****** Object:  Database [ServicesOptionnel]    Script Date: 04/12/2019 10:07:54 ******/
CREATE DATABASE [ServicesOptionnel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ServicesOptionnel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\ServicesOptionnel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ServicesOptionnel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\ServicesOptionnel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ServicesOptionnel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ServicesOptionnel]
GO
USE [ServicesOptionnel]
GO
/****** Object:  Table [dbo].[Etablissement1]    Script Date: 04/12/2019 10:07:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etablissement1](
	[Id] [int] NOT NULL,
	[Etab_Name] [varchar](30) NULL,
	[Etab_Desc] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Etudiant]    Script Date: 04/12/2019 10:07:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Etudiant](
	[Id] [int] NOT NULL,
	[Etud_Name] [varchar](30) NULL,
	[Etud_Tel] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Etudiant]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Etablissement1] ([Id])
GO
USE [master]
GO
