USE [master]
GO
/****** Object:  Database [budget]    Script Date: 12/3/2019 6:11:59 PM ******/
CREATE DATABASE [budget]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'budget', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVE\MSSQL\DATA\budget.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'budget_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVE\MSSQL\DATA\budget_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [budget].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [budget]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/3/2019 6:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Name] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Birth] [date] NULL,
	[CIN] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
